body{
    color: white;
    overflow: scroll;
    background-image: url('../images/ConstellationBackground.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mynav{
    padding: 10px;
    background-color: black;
}

.mynav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.mynav ul li {
    display: inline-block;
    margin-right: 20px;
}

#title{
    text-align: center;
}

.contain{
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.Intro{
    border: 10px solid blue;
    background-color: aliceblue;
    color: black;
    height:600px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#moreInfo{
    padding: 10px;
    color: black;
    text-align: start;
}

#moreImageInfo{
    padding: 10px;
    color: black;
    text-align: start;
}


.ImageInfo{
    border: 10px solid blue;
    background-color: aliceblue;
    color: black;
    height:600px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.ImageChart{
    border: 10px solid blue;
    width: 735px;
    height: auto;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.StarChart{
    border: 10px solid blue;
    width: 500px;
    height: 500px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.SeasonImage{
    border: 10px solid blue;
    width: 800px;
    height: 400px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;  
}

