body{
    color: white;
    overflow: scroll;
    background-image: url('../images/moon.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mynav{
    top: 0;
    position: fixed;
    width: 100%;
    padding: 10px;
    background-color: black;
}

.mynav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.mynav ul li {
    display: inline-block;
    margin-right: 20px;
}

#title{
    text-align: center;
    color: white;
}

.contain{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#info{
    padding: 10px;
    background-color: white;
    border: 10px solid black;
    height: 300px;
    width: 400px;
    color: black;
    overflow: scroll;
}

#moonPhase{
    background-color: white;
    border: 10px solid black;
    height: 500px;
    width: 700px;
    color: black;
    object-fit: contain;
    overflow: scroll;
}

