
/*Landscape for laptop, portrait for phones*/
html, body{
    min-width: 800px;
    min-height:1200px;
    width: 100%;
    height: 100%;
}

body{
    height: 11000px;
    color: white;
    transition: background-image 0.3s ease-in-out;
    background-image: url('../images/solarSystemBackground.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}


.mynav{
    top: 0;
    position: fixed;
    width: 100%;
    padding: 10px;
    background-color: black;
}

.mynav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.mynav ul li {
    display: inline-block;
    margin-right: 20px;
}

.mynav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1vw;
}

.mynav ul li a:visited {
    color: red;
}

#title{
    color: white;
    font-size: 60px;
    text-align: center;
}



.SolarSystemInfo {
    border: 10px solid red;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    gap: 20px;
    margin: 20px;
    min-width: 800px;
}

#infoBoxOne {
    font-size: 5vp;
    border: 10px solid black;
    height: 800px;
    width: 650px;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: start;
}

.rightSide{
    border: 10px solid green;
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    gap: 20px;
}

#infoBoxTwo {
    font-size: 5vp;
    border: 10px solid black;
    height: 360px;
    width: auto;
    background-color: white;
    color: black;
    text-align: center;
}

#infoBoxThree{
    font-size: 5vp;
    border: 10px solid black;
    height: 360px;
    width: auto;
    background-color: white;
    color: black;
    text-align: center;
}



.Sun{
    border: 10px solid red;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    gap: 20px;
    margin: 20px;
    min-width: 800px;
}

#infoBoxOneSun{
    font-size: 5vp;
    border: 10px solid black;
    height: 800px;
    width: auto;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: start;
    overflow: scroll;
}

.rightSideSun{
    border: 10px solid green;
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    gap: 20px;
}

#infoBoxTwoSun{
    font-size: 5vp;
    border: 10px solid black;
    height: 360px;
    width: auto;
    background-color: white;
    color: black;
    text-align: center;
    overflow: scroll; 
}

#infoBoxImageSun{
    border: 10px solid black;
    max-height: 600px;
    max-width: 600px;
    width: 50%;
    background-color: white;
    color: black;
    object-fit: contain;
    overflow: hidden;
}

#sunImage{
    width: 100%;
}



.Mercury{
    border: 10px solid red;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    gap: 20px;
    margin: 20px;
    min-width: 800px;
}

#infoBoxOneMercury{
    border: 10px solid black;
    height: 800px;
    width: 650px;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: start;
    overflow: scroll;
}



.Venus{
    color: white;
    font-size: 1.5vw;
    font-family: Arial, sans-serif;
    display: flex;
    gap: 20px;
    margin: 20px;
    min-width: 1200px;
}

#infoBoxOneVenus{
    border: 10px solid black;
    height: 800px;
    width: 650px;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: start;
    overflow: scroll;
}



.Earth{
    color: white;
    font-size: 1.5vw;
    font-family: Arial, sans-serif;
    display: flex;
    gap: 20px;
    margin: 20px;
    min-width: 1200px;
}

#infoBoxOneEarth{
    border: 10px solid black;
    height: 800px;
    width: 650px;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: start;
    overflow: scroll;
}

.rightSideEarth{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#infoBoxTwoEarth{
    overflow: scroll;
    padding: 10px;
    border: 10px solid black;
    height: 270px;
    width: 750px;
    background-color: white;
    color: black;
}



.Mars{
    color: white;
    font-size: 1.5vw;
    font-family: Arial, sans-serif;
    display: flex;
    gap: 20px;
    margin: 20px;
    min-width: 1200px;
}

#infoBoxOneMars{
    border: 10px solid black;
    height: 800px;
    width: 650px;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: start;
    overflow: scroll;
}

.rightSideMars{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#infoBoxTwoMars{
    overflow: scroll;
    padding: 10px;
    border: 10px solid black;
    height: 270px;
    width: 750px;
    background-color: white;
    color: black;
}



.Jupiter{
    color: white;
    font-size: 1.5vw;
    font-family: Arial, sans-serif;
    display: flex;
    gap: 20px;
    margin: 20px;
    min-width: 1200px;
}

#infoBoxOneJupiter{
    border: 10px solid black;
    height: 800px;
    width: 650px;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: start;
    overflow: scroll;
}

.rightSideJupiter{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#infoBoxTwoJupiter{
    overflow: scroll;
    padding: 10px;
    border: 10px solid black;
    height: 270px;
    width: 750px;
    background-color: white;
    color: black;
}

.Belts{
    border: 10px solid black;
    padding: 10px;
}



.Saturn{
    color: white;
    font-size: 1.5vw;
    font-family: Arial, sans-serif;
    display: flex;
    gap: 20px;
    margin: 20px;
    min-width: 1200px;
}

#infoBoxOneSaturn{
    border: 10px solid black;
    height: 800px;
    width: 650px;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: start;
    overflow: scroll;
}

.rightSideSaturn{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#infoBoxTwoSaturn{
    overflow: scroll;
    padding: 10px;
    border: 10px solid black;
    height: 270px;
    width: 750px;
    background-color: white;
    color: black;
}

.rings{
    border: 10px solid black;
    padding: 10px;
}



.Uranus{
    color: white;
    font-size: 1.5vw;
    font-family: Arial, sans-serif;
    display: flex;
    gap: 20px;
    margin: 20px;
    min-width: 1200px;
}

#infoBoxOneUranus{
    border: 10px solid black;
    height: 800px;
    width: 650px;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: start;
    overflow: scroll;
}

.rightSideUranus{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#infoBoxTwoUranus{
    overflow: scroll;
    padding: 10px;
    border: 10px solid black;
    height: 270px;
    width: 750px;
    background-color: white;
    color: black;
}



.Neptune{
    color: white;
    font-size: 1.5vw;
    font-family: Arial, sans-serif;
    display: flex;
    gap: 20px;
    margin: 20px;
    min-width: 1200px;
}

#infoBoxOneNeptune{
    border: 10px solid black;
    height: 800px;
    width: 650px;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: start;
    overflow: scroll;
}

.rightSideNeptune{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#infoBoxTwoNeptune{
    overflow: scroll;
    padding: 10px;
    border: 10px solid black;
    height: 270px;
    width: 750px;
    background-color: white;
    color: black;
}