body{
    background-color: black;
    overflow: scroll;
}

.mynav{
    top: 0;
    position: fixed;
    width: 100%;
    padding: 10px;
    background-color: black;
}

.mynav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.mynav ul li {
    display: inline-block;
    margin-right: 20px;
}

.mynav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1vw;
}

.mynav ul li a:visited {
    color: red;
}

#title{
    color: white;
    font-size: 60px;
    text-align: center;
}

#InfoTitle{
    text-align: center;
    color: white;
}

.contain{
    border: 10px solid red;
    color: white;
    font-size: 5vp;
    font-family: Arial, sans-serif;
    display: flex;
    gap: 20px;
    margin: 20px;
    min-width: 1000px;
}

#InfoBoxOne{
    height: auto;
    width: auto;
    padding: 10px;
    border: 10px solid green;
}

#InfoBoxOne ul li{
    list-style: none;
}

#InfoBoxTwo{
    height: auto;
    width: auto;
    padding: 10px;
    border: 10px solid blue;
}



#Thermal{
    border: 10px solid black;
    max-height: 300px;
    max-width: 300px;
    width: 50%;
    background-color: white;
    color: black;
    object-fit: contain;
    overflow: hidden;
}

#ThermalImage{
    width: 100%;
}

#Blueshift{
    color: blue;
}

#Redshift{
    color:red;
}

#Doppler{
    border: 10px solid black;
    max-height: 300px;
    max-width: 300px;
    width: 50%;
    background-color: white;
    color: black;
    object-fit: contain;
    overflow: hidden;
}

#DopplerImage{
    width: 100%;
}

.test{
    height: auto;
    width: 600px;
    display: flex;
    flex-direction: row;
}

#red:hover{
    height: 300px;
    width: 100px;
    background-color: red;
}

#orange:hover{
    height: 300px;
    width: 100px;
    background-color: orange;
}

#yellow:hover{
    height: 300px;
    width: 100px;
    background-color: yellow;
}

#green:hover{
    height: 300px;
    width: 100px;
    background-color: green;
}

#blue:hover{
    height: 300px;
    width: 100px;
    background-color: blue;
}

#purple:hover{
    height: 300px;
    width: 100px;
    background-color: purple;
}

#red{
    height: 300px;
    width: 100px;
    background-color: black;
}

#orange{
    height: 300px;
    width: 100px;
    background-color: black;
}

#yellow{
    height: 300px;
    width: 100px;
    background-color: black;
}

#green{
    height: 300px;
    width: 100px;
    background-color: black;
}

#blue{
    height: 300px;
    width: 100px;
    background-color: black;
}

#purple{
    height: 300px;
    width: 100px;
    background-color: black;
}