body{
    overflow: scroll;
    color: white;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.mynav{
    top: 0;
    position: fixed;
    width: 100%;
    padding: 10px;
    background-color: black;
}

.mynav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.mynav ul li {
    display: inline-block;
    margin-right: 20px;
}

#title{
    color: white;
    text-align: center;
    font-size: 60px;
}

.Intro{
    margin: 10px;
    display: flex;
    background-color: white;
    border: 10px solid black;
    color: black;
    width: 50vw;
    height: 50vh;
}
